nav{
  margin: 3rem 0;
  background-color: #080808;
  padding: 1rem 0;
  border: solid;

}
nav .menuItems{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .menuItems li {
  margin: 1.6rem;
}
nav .menuItems li a {
  text-decoration: none;
  color: #e9e6e6;
  font-size: 1.5rem;
  font-weight: 400;
  

}
